# Test Report for Feast for a Crow

## 1. Component Testing

> ### Robert's Shizzle
---

> ### Andres's Shizzle
---

> ### Health Bar and Regeneration
---
To test the functionality of the health bar taking damage, a simple user input was used to deal damage to the player. If the system works properly, the health bar object of the player should visually decrease along with any numbers accociated with player health.The health regeneration system is tested by user input that deals damage to the player object. If the system works properly, then the health bar slider should increase as do the corresponding numbers accociated with the player's health. This works in conjunction with a **thirst bar** system that will be explained below.  

> ### Thirst Bar
---
To test the functionality of the thirst bar, a simple user input was used to reduce the thirst bar slider object. If implemented correctly, the thirst bar slider will visually decrease along with any accociated numbers to the player object. This works in conjunction with the **health regeneration** system. By reduced thirst stats, the **natural health regeneration rate** of the Player object should be also be **reduced**. This means that the lower the thirst bar, the slower the health will regenerate. Both the health regeneration and thirst systems interact and rely on each other.

> ### Animations
---
Functionality of animations in the game are represented visually in game. Clear movement of sprites and fluid objects should be visible to the user under the right conditions. 
- **Chests** are one example of animation. A chest visually opens if the user interacts with an openable chest. 
- **Dynamic player movement**

> ### Visuals
---
In-game visuals are clear and responsive. Testing for visuals is as simple as making sure all objects and scenes are visable to the user. 
## 2. System Testing

## 3. Acceptance Testing

